//此文件用于添加额外样式

// 左侧侧边栏宽度
.sidebar{
    width: 13rem !important;
}

//左侧侧边栏样式
.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 1em !important;
  margin-left: -1em;
}


// 右侧目录栏字体大小
a.sidebar-link {
  font-size: 12px !important;
}

//右侧目录栏中二级标题的文本粗细
.level-2 > a.sidebar-link {
  font-weight:700
}

//右侧目录栏宽度
.sub-sidebar-wrapper{
    width: 16rem !important;
}

//调整右侧目录栏标题上下间距
.sub-sidebar-wrapper li{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}


//主页副标题样式，配合打字机效果
p.description {
    color: red;
    font-weight:700;
    font-size: 25px;
    overflow: hidden; //保持副标题文本框的高度固定
}
